<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>
    <typeAliases>
        <typeAlias alias="RuleEntity" type="com.taobao.qa.ruleengine.model.RuleEntity" />
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/RuleMapper.xml"/>
        <!--mapper resource="mybatis/RuleAiMapper.xml"/-->
    </mappers>
</configuration>